{% if article.published %}
    <div class="ui message">
        <h2 class="ui header">
            This piece was published on {{ article.date }}.
            If you need to unpublish it (not recommended),
            <a href="{% url 'unpublish-article' article.slug %}">click here</a>
        </h2>
    </div>
{% elif article.slug %}
<div class="ui grid" style="clear: both">
    <div class="twelve wide column">
        <div class="ui warning message">
            <h2 class="ui header">
                Is the piece ready to go? If so, click the green button on
                the right to publish
                (make sure to <a href="{{ article.get_absolute_url }}">preview it first</a>)
            </h2>
        </div>
    </div>
    <div class="four wide column">
        <a class="ui fluid massive green icon button"
           href="{% url 'manage-article' article.slug %}">
            <i class="tasks icon"></i>
            Prepare for publication
        </a>
    </div>
</div>
{% endif %}
