{% extends 'base.html' %}

{% block title %}Page not found{% endblock %}
{% block description %}Please email us if we have a broken link{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        <h1 class="ui header">
            Page not found
            <div class="sub header">
                Please email us (editors@newsocialist.org.uk) if you've found a
                broken link.
            </div>
        </h1>
        <br />
        <hr />
        <br />
        <img src="/static/img/banner.png" class="ui fluid image" />
    </div>
</article>
{% endblock %}
