{% extends 'page.html' %}

{% block twittercard %}summary{% endblock %}

{% block precontent %}
{% endblock %}

{% block postcontent %}
</div>
{% include 'patreon.html' %}
<div class="ui container">
    <div class="section">
        <h1>Contributors</h1>
        <div class="ui three column stackable grid">
        {% for contributor in contributors %}
            <div class="column">
                <a href="{{ contributor.get_absolute_url }}">
                    {{ contributor.name }}
                </a>
                {% if contributor.editor %}
                (editor)
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
