{% if article %}
<div class="article-thumb">
    {% with header=article.get_title_header %}
    <{{ header }} class="ui header article-title">
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </{{ header }}>
    {% endwith %}
    <div class="details">
        <div class="ui two column middle aligned stackable grid">
            <div class="row">
                <div class="column">
                    <a href="{{ article.get_absolute_url }}">
                        <img src="{{ article.get_image_thumbnail_url }}" class="ui fluid image" />
                    </a>
                </div>
                <div class="description column">
                    <h3 class="ui inverted header">
                        <div class="sub header">
                            {{ article.subtitle }}
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <h3 class="ui header article-metadata">
        <div class="sub header">
            {% if article.authors.count %}
            by {% for author in article.authors.all %}
            <strong><a href="{{ author.get_absolute_url }}">{{ author.name }}</a></strong>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% else %}
            by anonymous
            {% endif %}
            /
            {{ article.date }}
            /
            {% for tag in article.tags.all %}
            <a href="{{ tag.get_absolute_url }}" class="article-tag">
                <strong>{{ tag.name }}</strong></a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    </h3>
</div>
{% endif %}
