<div class="ui icon warning message">
    <i class="question circle icon"></i>
    <div class="content">
        <div class="header">
            Have you read the <a href="https://github.com/dellsystem/new-socialist/tree/master/docs/README.md">article checklist?</a>
        </div>
        <p>Contains a list of things to check before making any article live (in terms of the title, subtitle, photo, article body formatting, etc). <strong>Please read <a href="https://github.com/dellsystem/new-socialist/tree/master/docs/README.md">the checklist</a> before publishing an article.</strong></p>
    </div>
</div>
