{% extends 'base.html' %}

{% block title %}{{ title }}{% if desired_language_name %} ({{ desired_language_name }}){% endif %}{% endblock %}
{% block date %}{{ article.date|date:"Y-m-d" }}{% endblock %}

{% block longdescription %}{{ unformatted|truncatechars:500 }}{% endblock %}

{% block description %}{{ article.get_description }}{% endblock %}

{% block image %}{{ article.get_image_thumbnail_url }}{% endblock %}

{% block pagetype %}article{% endblock %}

{% block content %}
<article class="page-content" id="article-top">
    <div class="ui container">
        <div class="article-photo print-hide"
             style="background-image: url('{{ article.get_image_url }}'); background-position: {{ article.background_position|default:"center" }}">
        </div>
        <br />
        <h3 class="ui header article-category">
            {% for tag in article.tags.all %}
            <a href="{{ tag.get_absolute_url }}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}/{% endif %}
            {% endfor %}
        </h3>
        <h1 class="ui header article-title">
            {{ title }}
            {% if desired_language_name %}({{ desired_language_name }}){% endif %}
            <div class="sub header">
                {% if article.authors.count %}
                by {% for author in article.authors.all %}
                    <strong><a href="{{ author.get_absolute_url }}">{{ author.name }}</a>{% if author.twitter %} (<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>){% endif %}</strong>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% else %}
                by anonymous
                {% endif %}
                on {{ article.date|date:"F j, Y" }}
                {% if article.issue %}
                in
                <strong>
                <a href="{{ article.issue.get_absolute_url }}">
                    {{ article.issue.title }} (#{{ article.issue.number }})
                </a>
                </strong>
                {% endif %}
            </div>
        </h1>
        {% if not article.published %}
        <div class="ui error message print-hide">
            <h2 class="header">
                Not published (preview only)
            </h2>
            <p>This article won't show up elsewhere on the website yet.</p>
        </div>
        {% endif %}
        {% if request.user.is_staff %}
        {% include 'article_manage_banner.html' with article=article url=request.build_absolute_uri|urlencode only %}
        {% endif %}
        {% if languages %}
        <div id="article-lead" class="print-hide">
            <br />
            <div class="ui buttons">
                {% for language_code, language_name in languages %}
                <a href="?language={{ language_code }}"
                   class="ui {% if language_code == desired_language_code %}black{% endif %} button">
                    {{ language_name }}
                </a>
                {% if not forloop.last %}
                <div class="or" data-text="/"></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <br />
        <div class="print-hide">
            <div class="ui stackable grid">
                <div class="four wide column">
                    {% with url=request.build_absolute_uri|urlencode title=title|urlencode %}
                    <a href="mailto:?subject={{ title }}&amp;body={{ url }}"
                       title="Send via email">
                        <i class="mail icon"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url=&text={{ title }}%20{{ url }}">
                        <i class="twitter icon"></i>
                    </a>
                    <a href="http://www.facebook.com/sharer/sharer.php?u={{ url }}">
                        <i class="facebook icon"></i>
                    </a>
                    {% endwith %}
                    <a onclick="window.print()" href="#">
                        <i class="print icon"></i>
                    </a>
                </div>
                <div class="right aligned twelve wide column">
                    {% if article.formatted_image_credit %}
                        <h4 class="ui header">
                            <div class="sub header">
                                <em>{{ article.formatted_image_credit|safe }}</em>
                            </div>
                        </h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <br />
        <div class="ui divider"></div>
        <div class="article-content section">
            {{ formatted|safe }}
        </div>
        <hr />
        {% with author_count=article.authors.count %}
        <div class="section">
            <h3 class="section-header">author{{ author_count|pluralize }}</h3>
            {% if author_count %}
            <div class="ui stackable grid">
                {% for author in article.authors.all %}
                <div class="{% if author_count > 1 %}eight{% else %}sixteen{% endif %} wide column">
                {% include 'author_bio.html' with author=author only %}
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>The author of this piece wishes to remain anonymous.</p>
            {% endif %}
        </div>
        {% endwith %}
    </div>
    {% include 'patreon.html' %}
    <div class="ui container">
        {% with related=article.get_related %}
        {% if related %}
        <div class="section print-hide" id="article-related">
            <h3 class="section-header">related</h3>
            <div class="ui two column computer mobile only stackable grid">
                {% for related_article in related %}
                <div class="column">
                {% include 'article_thumb.html' with article=related_article only %}
                </div>
                {% endfor %}
            </div>
            <div class="ui two column tablet only grid">
                {% for related_article in related %}
                <div class="column">
                {% include 'article_third.html' with article=related_article only %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</article>
{% endblock %}
