{% extends 'base.html' %}

{% block title %}{{ author.name }}{% endblock %}
{% block description %}{{ author.name }} for New Socialist.{% endblock %}
{% block image %}/static/img/favicon-180x180.png{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block content %}
<div class="page-content">
    <div class="ui container">
        <h1 class="ui header">
            {{ author.name }}
        </h1>
        {{ author.formatted_bio|safe }}
        <hr />
        <div class="section">
            <div class="ui three column stackable grid">
                {% for article in author.get_articles %}
                <div class="column">
                {% include 'article_third.html' with article=article only %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
