<div id="footer" class="print-hide">
    <div id="footer-logo">
        <img src="/static/img/round-logo.png" alt="" class="ui centered image" />
    </div>
    <div class="ui container">
        <div class="ui stackable centered grid">
            <div class="ten wide column">
                <form action="https://newsocialist.us12.list-manage.com/subscribe/post?u=95e90b86f3f7b93fa81e0276b&amp;id=148a97db9d" method="post">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8604188cb9b7d2875a8805c95_61b78625e4" tabindex="-1" value=""></div>
                    <div class="ui inverted fluid action input">
                        <input type="text" placeholder="Email" name="EMAIL">
                        <button type="submit" class="ui icon basic inverted button">
                            <i class="inverted mail icon"></i>
                            &nbsp;
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui basic center aligned segment">
        <a href="https://twitter.com/NewSocialistUK">
            <i class="large inverted twitter icon"></i>
        </a>
        <a href="https://www.facebook.com/NewSocialistUK">
            <i class="large inverted facebook icon"></i>
        </a>
        <a href="/rss/">
            <i class="large inverted rss icon"></i>
        </a>
        <h3 class="ui inverted header">
            <div class="sub header">
                <a href="mailto:editors@newsocialist.org.uk">
                    editors@newsocialist.org.uk
                </a>
            </div>
        </h3>
    </div>
</div>
