<div id="header" class="print-hide">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <div class="item" id="hamburger-item">
                <a href="/">
                    <img src="/static/img/logo.png" class="logo" alt="New Socialist." />
                </a>
                <a href="#" id="hamburger" onclick='toggleHamburger()'>
                    <i class="big content icon"></i>
                </a>
            </div>
            <form class="right menu" method="get" action="{% url 'search' %}">
                    <div class="ui right aligned category search item">
                        <div class="ui icon input">
                            <input class="prompt" type="text" 
                                   name="q" placeholder="Search">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                <a class="item" href="{% url 'archives' 1 %}">
                    <strong>Archives</strong>
                </a>
            </form>
			<div class="right menu">
                <a class="item" href="{% url 'about' %}">About</a>
                <a class="item" href="{% url 'editors' %}">Editors</a>
                <a class="item" href="{% url 'get-involved' %}">Get involved</a>
		        <div class="item">
                    <a href="https://www.facebook.com/NewSocialistUK">
                        <i class="facebook icon"></i>
                    </a>
                    &nbsp;
                    <a href="https://twitter.com/NewSocialistUK">
                        <i class="twitter icon"></i>
                    </a>
                    &nbsp;
                    <a href="/rss/">
                        <i class="rss icon"></i>
                    </a>
                </div>
			</div>
        </div>
    </div>
</div>
