{% extends 'page.html' %}

{% block title %}New Socialist{% endblock %}
{% block fulltitle %}New Socialist{% endblock %}
{% block description %}Robust intellectual discussion and intransigent rabble rousing {% endblock %}
{% block twittercard %}summary{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        {% if request.user.is_staff %}
        <div class="ui {% if unpublished.count %}warning{% else %}green{% endif %} message">
            <div class="ui grid">
                <div class="ten wide column">
                    <h3 class="ui header">
                        Welcome, {{ request.user.first_name }}
                        <div class="sub header">
                            {{ unpublished.count }}
                            article{{ unpublished.count|pluralize }}
                            waiting to be published today
                        </div>
                    </h3>
                    <p>
                </div>
                <div class="six wide right aligned column">
                    <a class="ui large blue button" href="{% url 'editor:index' %}">
                        Admin panel
                    </a>
                </div>
            </div>
            {% if unpublished.count %}
            <ul>
                {% for u in unpublished %}
                <li>
                    <strong>{{ u.title }}</strong>
                    in
                    {% for tag in u.tags.all %}
                    <div class="ui {{ tag.colour }} label">{{ tag.short_name|default:tag.name}}</div>
                    {% endfor %}
                    (<a href="{% url 'editor:journal_article_change' u.pk %}">Edit</a>)
                    (<a href="{{ u.get_absolute_url }}">Preview</a>)
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
        <div class="ui two column computer mobile only relaxed middle aligned stackable grid">
            {% include "featured_article.html" with article=articles.0 %}
            <div class="column">
                {% include "article_thumb.html" with article=articles.1 %}
                {% include "article_thumb.html" with article=articles.2 %}
            </div>
        </div>
        <div class="ui tablet only two column grid">
            <div class="column">
                {% include "article_third.html" with article=articles.0 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.1 %}
            </div>
        </div>
    </div>
    {% include "intro-banner.html" %}
    <div class="ui container">
        <div class="ui two column computer mobile only relaxed middle aligned stackable grid">
            <div class="column">
                {% include "article_thumb.html" with article=articles.3 %}
                {% include "article_thumb.html" with article=articles.4 %}
            </div>
            {% include "featured_article.html" with article=articles.5 %}
        </div>
        <div class="ui tablet only two column grid">
            <div class="column">
                {% include "article_third.html" with article=articles.2 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.3 %}
            </div>
        </div>
    </div>
    {% include 'patreon.html' with padded=True %}
    <div class="ui container">
        <div class="ui relaxed top aligned stackable grid">
            <div class="three column computer mobile only row">
                <div class="column">
                    {% include "article_third.html" with article=articles.6 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.7 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.8 %}
                </div>
            </div>
            <div class="tablet only two column row">
                <div class="column">
                    {% include "article_third.html" with article=articles.4 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.5 %}
                </div>
            </div>
            <div class="tablet only two column row">
                <div class="column">
                    {% include "article_third.html" with article=articles.6 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.7 %}
                </div>
            </div>
            <div class="three column computer mobile only row">
                <div class="column">
                    {% include "article_third.html" with article=articles.9 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.10 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.11 %}
                </div>
            </div>
            <div class="tablet only two column row">
                <div class="column">
                    {% include "article_third.html" with article=articles.8 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.9 %}
                </div>
            </div>
            <div class="tablet only two column row">
                <div class="column">
                    {% include "article_third.html" with article=articles.10 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.11 %}
                </div>
            </div>
        </div>
        <br /><br />
        <div class="ui basic center aligned segment">
            <a href="{% url 'archives' 3 %}" class="ui basic button">
                View more <i class="angle double right icon"></i>
            </a>
        </h1>
    </div>
</article>
{% endblock %}
