{% extends 'page.html' %}

{% block title %}New Socialist{% endblock %}
{% block fulltitle %}New Socialist{% endblock %}
{% block description %}Robust intellectual discussion and intransigent rabble rousing {% endblock %}
{% block twittercard %}summary{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        <div class="ui two column computer mobile only relaxed middle aligned stackable grid">
            {% include "featured_article.html" with article=articles.0 %}
            <div class="column">
                {% include "article_thumb.html" with article=articles.1 %}
                {% include "article_thumb.html" with article=articles.2 %}
            </div>
        </div>
        <div class="ui tablet only two column grid">
            <div class="column">
                {% include "article_third.html" with article=articles.0 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.1 %}
            </div>
        </div>
    </div>
    {% include "intro-banner.html" %}
    <div class="ui container">
        <div class="ui two column computer mobile only relaxed middle aligned stackable grid">
            <div class="column">
                {% include "article_thumb.html" with article=articles.3 %}
                {% include "article_thumb.html" with article=articles.4 %}
            </div>
            {% include "featured_article.html" with article=articles.5 %}
        </div>
        <div class="ui tablet only two column grid">
            <div class="column">
                {% include "article_third.html" with article=articles.2 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.3 %}
            </div>
        </div>
    </div>
    {% include 'patreon.html' with padded=True %}
    <div class="ui container">
        <div class="ui three column computer mobile only relaxed top aligned stackable grid">
            <div class="row">
                <div class="column">
                    {% include "article_third.html" with article=articles.6 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.7 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.8 %}
                </div>
            </div>
        </div>
        <div class="ui tablet only two column grid">
            <div class="column">
                {% include "article_third.html" with article=articles.4 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.5 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.6 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.7 %}
            </div>
        </div>
    </div>
    {% include "quote-banner.html" %}
    <div class="ui container">
        <div class="ui three column computer mobile only relaxed top aligned stackable grid">
            <div class="row">
                <div class="column">
                    {% include "article_third.html" with article=articles.9 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.10 %}
                </div>
                <div class="column">
                    {% include "article_third.html" with article=articles.11 %}
                </div>
            </div>
        </div>
        <div class="ui tablet only two column grid">
            <div class="column">
                {% include "article_third.html" with article=articles.8 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.9 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.10 %}
            </div>
            <div class="column">
                {% include "article_third.html" with article=articles.11 %}
            </div>
        </div>
        <br /><br />
        <div class="ui basic center aligned segment">
            <a href="{% url 'archives' 3 %}" class="ui basic button">
                View more <i class="angle double right icon"></i>
            </a>
        </h1>
    </div>
</article>
{% endblock %}
