<div class="shadow-section padded">
    <div class="arrow-container">
        <div id="blue-arrow"></div>
    </div>
    <div class="ui container">
        <div class="ui middle aligned grid">
            <div class="computer only row">
                <div class="thirteen wide column">
                    <h2 class="ui grey header">
                        Robust intellectual discussion and intransigent rabble
                        rousing.
                        <div class="sub header">
                            An independent source of left thought based in the
                            UK.
                        </div>
                    </h2>
                </div>
                <div class="three wide center aligned column">
                    <a href="https://twitter.com/NewSocialistUK">
                        <i class="big inverted twitter icon">
                        </i>
                    </a>
                    <a href="https://facebook.com/NewSocialistUK/">
                        <i class="big inverted facebook icon">
                        </i>
                    </a>
                </div>
            </div>
            <div class="mobile tablet only center aligned row">
                <div class="sixteen wide column">
                    <h3 class="ui grey header">
                        Robust intellectual discussion and intransigent rabble
                        rousing.
                        <div class="sub header">
                            An independent source of left thought based in the
                            UK.
                        </div>
                    </h3>
                </div>
            </div>
            <div class="mobile tablet only center aligned row">
                <div class="sixteen wide column">
                    <a href="https://twitter.com/NewSocialistUK">
                        <i class="big twitter icon">
                        </i>
                    </a>
                    <a href="https://facebook.com/NewSocialistUK/">
                        <i class="big facebook icon">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
