{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.subtitle }}{% endblock %}
{% block longdescription %}{{ page.formatted_content|striptags|truncatechars:500 }}{% endblock %}
{% block twittercard %}summary{% endblock %}

{% block content %}
<article class="page-content">
    <div class="ui container">
        <h1>{{ page.title }}</h1>
        {% block precontent %}
        {% endblock %}
        {% if page.content %}
        <div class="section">
            {{ page.formatted_content|safe }}
        </div>
        {% endif %}
        {% block postcontent %}
        {% endblock %}
    </div>
</article>
{% endblock %}
