<div class="shadow-section print-hide{% if padded %} padded{% endif %}">
    <div class="arrow-container">
        <div id="purple-arrow"></div>
    </div>
    <div class="ui container">
        <div class="ui middle aligned grid">
            <div class="computer only row">
                <div class="thirteen wide column">
                    <h2 class="ui grey header">
                        New Socialist is, and will always be, not for profit.
                        <div class="sub header">
                            Help us sustain and develop this project by subscribing
                            on <a
                            href="https://www.patreon.com/newsocialist">Patreon</a>
                            or <a
                            href="https://donorbox.org/new-socialist">Donorbox</a>.
                        </div>
                    </h2>
                </div>
                <div class="three wide column">
                    <h3 class="ui centered inverted header">
                        <a href="https://www.patreon.com/newsocialist">
                            Patreon <i class="angle double right icon"></i>
                        </a>
                        <br />
                        <a href="https://donorbox.org/new-socialist">
                            Donorbox <i class="angle double right icon"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div class="mobile tablet only center aligned row">
                <div class="sixteen wide column">
                    <h3 class="ui grey header">
                        New Socialist is, and will always be, not for profit.
                        <div class="sub header">
                            Help us sustain and develop this project by subscribing
                            on <a href="https://www.patreon.com/newsocialist">Patreon</a>.
                        </div>
                    </h3>
                </div>
            </div>
            <div class="mobile tablet only row">
                <div class="sixteen wide column">
                    <h3 class="ui centered header">
                        <a href="https://www.patreon.com/newsocialist" class="ui blue button">
                            Subscribe <i class="angle double right icon"></i>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
