<div class="shadow-section print-hide{% if padded %} padded{% endif %}">
    <div class="ui container">
        <div class="ui middle aligned stackable grid">
            <div class="twelve wide column">
                <h2 class="ui grey header">
                    New Socialist is, and will always be, not for profit.
                    <div class="sub header">
                        Help us sustain and develop this project by subscribing
                        on Patreon.
                    </div>
                </h2>
            </div>
            <div class="four wide column">
                <a href="https://www.patreon.com/newsocialist"
                   class="ui large blue fluid button">
                    Become a Patron
                </a>
            </div>
        </div>
    </div>
</div>
