{% comment %}
    <div class="shadow-section padded">
        <div class="arrow-container">
            <div id="red-arrow"></div>
        </div>
        <div class="ui container">
            <div class="ui middle aligned stackable grid">
                <div class="thirteen wide column">
                    <h2 class="ui grey header">
                        “New Socialist is the publication we need to revitalise the left.”
                        <div class="sub header">
                            &mdash;John McDonnell MP
                        </div>
                    </h2>
                </div>
                <div class="three wide center aligned column">
                    <a href="https://twitter.com/NewSocialistUK">
                        <i class="big inverted twitter icon">
                        </i>
                    </a>
                    <a href="https://facebook.com/NewSocialistUK/">
                        <i class="big inverted facebook icon">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endcomment %}
